/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------start*----------*/

 *,*::before,*::after{
    box-sizing: border-box;
 }
 html{
	font-family: Microsoft JhengHei;
	font-weight: 400;
 }


 .container{
    width: 1200px;
    margin: 0 auto;
    line-height: 1.5;
}
.header{
	padding: 40px 0;
	border-bottom: 2px solid #333;
}
 h1{
	font-size: 80px;
	line-height: 95px;
 } 
 h2{
	font-size: 32px;
	line-height: 48px;
	font-weight: 700;
	border-bottom: 2px solid #333;
	margin-bottom: 15px;
	padding: 8px 0;
 }
 h4{
	font-size: 24px;
	font-weight: bold;
 }
 h9{
	font-size: 24px;
	line-height: 36px;
 }
 p{
	font-size: 24px;
	line-height: 36px;
 }
 .mb_20{
	margin-bottom: 20px;
 }
 .mb_40{
	margin-bottom: 40px;
 }
 .mb_60{
	margin-bottom: 60px;
 }
 .mt_20{
	margin-top: 20px;
 }
 .profile img{
	width: 324px;
 }
  span{
	font-size: 24px;
	color: #A00404;
	line-height: 24px;
	padding-left: 10px;
	margin-bottom: 10px;
 }
 .skill{
	background: #415165;
	padding: 30px 100px 50px 100px;	
 }
 .skill h2{
	color: #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 40px;
	text-align: center;
 }
 .skill ul{
	border-left: 1px solid rgb(255, 255, 255, 0.5);
 }
 .skill li{
	color: #fff;
	font-size: 24px;
	line-height: 48px;
	font-weight: lighter;
	margin-left: 20px;
 }
 .skill span{
	font-size: 24px;
	color: #fff;
	line-height: 24px;
	padding-left: 10px;
	margin-bottom: 10px;
 }
 .box{
	margin-left: 400px;
 }
 .work li{
	font-size: 24px;
	font-weight: bold;
	line-height: 56px;
 }
 .work p{
	max-width: 640px;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
 }
 .box2{
	margin-left: 25px;
	padding-left: 20px;
	border-left: 1px solid #ddd;
 }
.footer{
	background: #415165;
	padding: 30px 100px 50px 100px;
}
.footer .contact{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.footer .contact h2{
	color: #fff;
	border-bottom: 1px solid #fff;
	text-align: center;
}
.footer .contact span{
	color: #fff;
}
.footer p{
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-weight: lighter;
}
.footer a{
	margin-right:10px;
}
